AWS_REGION=us-east-1
BRONZE_BUCKET=dataguard-bronze
SILVER_BUCKET=dataguard-silver
GOLD_BUCKET=dataguard-gold
ATHENA_WORKGROUP=dataguard
ATHENA_OUTPUT=s3://dataguard-athena-results/
GLUE_DATABASE=dataguard
